
  <div class="quizz__container">
    <div class="quizz__logo">
      <img src="./assets/img/logo.png" alt="" srcset="">
      <h3>{{title}}</h3>
    </div>

  <div *ngIf="!finished" class="quizz__questions">
    <h3>{{questionSelect.question}}</h3>
  </div>

  <div *ngIf="!finished" class="quizz__options">
    <button type="button" (click)="playerChoose(option.alias)" *ngFor="let option of questionSelect.options; let i =index"
      class="btn__options">
      {{option.name}}
    </button>
    </div>

  <div *ngIf="finished" class="quizz__results">
    <h1> O seu resultado é:</h1>
    <p>{{questionSelect}}</p>
    <ul class="menu__list">
      <button type="button" class="menu__list__button" (click)="chageRefresh()"><span
          class="material-icons-round">refresh</span>
        RECARREGAR</button>
    </ul>
  </div>

  </div>
